header{
	border: 1px solid red;
	margin-bottom: 25px;
	background-color: orange;
	color: white;
}

section{
	border: 1px solid blue;
	background-color: blue;
	color: white;
}

aside{
	border: 1px solid black;
	background-color: red;
	margin-top: 30px;
}